/*
Theme Name: karuna child
Theme URI: http://localhost/wordpress-project1/
Description: this is a child theme of Karuna
Author: Bec Wyatt
Author URI: your website goes here
Template: karuna 
Version: 0.1
*/

@import url("../karuna/style.css");
@import url("./scss-styles.css");

