// /* Gallery------------------------------------------------------------------------------------- */

///MY CUSTOM GALLERY - FOR THE IMAGE LINKS TO MENU PAGES
.my-gallery {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


.my-gallery-top-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	.my-gallery-image-container {
		width: 50%; //33.333%;
		padding: 0;
		margin: 0;
		display: flex;
		position: relative;
		z-index: 1;
		opacity: 1;
		a {
			width: 100%;
			margin: 25px;//15px;
			transition: all 1s ease-out;
			position: relative;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		&:hover {
			opacity: 1;
		}
	}
}

// #image-container-1 {
// 	margin-left: auto;
// }
// #image-container-2 {
// 	margin-right: auto;
// }

.my-gallery-bottom-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	.my-gallery-image-container {
		width: 50%;
		padding: 0;
		margin: 0;
		display: flex;
		position: relative;
		z-index: 1;
		@media screen and (min-width: 600px) {
			width: 33.333%;
		}
		a {
			width: 100%;
			margin: 25px; //15px;
			transition: all 1s ease-out;
			position: relative;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
	}
}

//The final image needs to be 100% wide in mobile as there are an odd number of cards.
#image-container-5 {
	width: 100%;
	@media screen and (min-width: 600px) {
		width: 33.333%;
	}
}

.my-gallery a p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1;
	max-width: 100%;
	text-transform: uppercase;
	margin: 0;
	z-index: 5;
	border-radius: 10px;
	border: 2px solid white;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 1;
	display: inline;
	word-wrap: normal;
	word-break: normal;
	
	font-size: 1rem;
	padding: 0.4rem 0.8rem;
	
	@media screen and (min-width: 1100px) {
		padding: 0.8rem 1.6rem;
		font-size: 1.2rem;
	}
}

.my-gallery .my-gallery-image-container img {
	padding: 0;
	margin: 0;
	object-fit: contain;
	height: 100%;
	width: 100%;
	display: block; //removes unwanted space between the <a> and <img>
}

.my-gallery .my-gallery-image-container .my-gallery-image-link img {
	opacity: 1;
	transition: all 1s ease-out;
}

.my-gallery .my-gallery-image-container .my-gallery-image-link:hover img {
	opacity: 0.6;
	transition: all 1s ease-out;
}


#image-link-1,
#image-link-2,
#image-link-3,
#image-link-4,
#image-link-5 {
	opacity: 1;
}

//need a pseudo element to add the gradient
.my-gallery-image-link::after {
	content:'';
	position:absolute;
	left:0; top:0;
	width:100%; height:100%;
	display:inline-block;
	background: rgb(0,0,0);
	background: radial-gradient(circle, rgba(0,0,0,0.6255544454109769) 0%, rgba(255,255,255,0) 100%);
	z-index: 2;
}


//hide modula plugin edit link
.post-edit-link {
	display: none;
}

//styling the modula plugin 
.modula-items {
	margin-top: 30px;
}