/* Font colors */
h1,
.site-content h2,
h3,
h4,
h5,
h6,
.site-content p {
	color: #222222;
}

//variables
$color1: #0d8383; //#0F9595; //teal main
$color2: #005859;//nice slightly lighter teal #389E9D;//dark teal#324B4B; //#00a4a7;//nice brown #956F5D;//good bright teal option: #259E8A; //mostly for the banner
$color3: #ff610f;
//$color3: #95B1B0; //pale blue
//$color3: #FF8749; //orange for accents
//$color4: #FFE7D3; //pale beige, for background areas I guess
//$color5: #BFFCFB; //teal light

//breakpoints used
//600px
//630px
//768px
//1100px

// ======================================
//  Partial Imports
// ======================================


@import './header',
		'./nav',
		'./buttons',
		'./links',
		'./main-content',
        './gallery',
		'./footers',
        './sidebar',
		'./tables';











